{% extends "autoservice/base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

{% block heading %} "{{ order.id }} {% endblock heading %}

{% block content %}
<h1><b> Order info: </b></h1>
<hr>
<p> Manager: {{ order.manager }} </p>
<p> Date created: {{order.date}} </p>
<p> Car: {{ order.car.make }} {{ order.car.model }} </p>
<p> License plate: {{ order.car.license_plate }} </p>
<p> Status: {{ order.get_status_display }} </p>
<p> Due back: {{order.due_back}}</p>


<div class="container mt-3">

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Service</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Sum</th>
        </tr>
        </thead>
        <tbody>
        {% for line in order.lines.all %}
        <tr>
            <td>{{ line.service.name }}</td>
            <td>{{ line.service.unit_price}}</td>
            <td>{{ line.quantity }}</td>
            <td>{{ line.line_sum }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No services added to this order.</td>
        </tr>
        {% endfor %}
        <tr>
            <th colspan="3">Total</th>
            <th>{{ order.total|floatformat:2 }}</th>
        </tr>
        </tbody>
    </table>
</div>

<h2>Reviews:</h2>
<br/>
{% if order.reviews.all %}
    {% for review in order.reviews.all %}
        <p><strong>{{ review.reviewer }}</strong>, <em>{{ review.date_created }}</em></p>
        <p>{{ review.content }}</p>
        <hr>
    {% endfor %}
{% else %}
    <p>No reviews available</p>
{% endif %}

{% if user.is_authenticated %}
<h2>Reviews</h2>
<form method="post" class="mb-2">
    {% csrf_token %}
    {% load crispy_forms_tags %}
    {{ form | crispy }}
    <button type="submit" class="btn btn-warning">Submit</button>
</form>
{% endif %}

{% endblock %}