<style>
    .logo-glow {
        border: 4px solid #ffc107;
        box-shadow: 0 0 20px #ffc107;
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .logo-glow:hover {
        transform: scale(1.1);
        box-shadow: 0 0 30px #ffdd57;
    }
</style>